
@import url('https://fonts.googleapis.com/css2?family=Saira:ital@0;1&display=swap');



.container-fluid {
  
  padding: 0;
  
 

}


.container-fluid>h3 {
  color: rgb(223, 222, 222);
  font-family: 'Saira', sans-serif;
  text-align: center;
  font-size: 40px;
  padding-top: 1px;
  margin-bottom:25vh;
}
.calculator{
  width:100%;
  height:480px;
  background-color:rgb(255, 255, 255);
  min-width:300px;
  max-width: 300px;
  min-height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow:   0px 1px 5px 1px rgb(188, 188, 188);

  
}
.calculator > .button{
  margin-left: 10px;
  margin-right: 10px;



  
}
button{
  width:50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin-bottom: 20px;
  margin-left: 0px;
  box-shadow:   0px 1px 5px 3px rgb(224, 224, 224);
  background-color:rgb(255, 255, 255);
  font-family: 'Saira', sans-serif;
  font-weight: 600;
 

}
.calculator > .row >.input-group{
  margin: 30px 20px;
  border-radius: 7px;
  box-shadow:   0px 1px 5px 1px rgb(188, 188, 188);
  background-color:rgb(255, 255, 255);
  
  

}
#his-dis{
  height: 10px;
  width: 100%;
  margin-top: 3px;
  margin-left:  0px;
  font-size: 15px;
}
.calculator > .row >.input-group > .form-control{
  text-align: end;
  height: 35px;
  font-size: 20px;
  border: none;
  background: transparent;
  
  font-family: 'Saira', sans-serif;
  

  
}
.calculator > .row >.input-group > .form-control::placeholder{
  color: rgb(127, 126, 126);
  font-family: 'Saira', sans-serif;
  
}
.equals{
  width:120px;
  border-radius: 15px;
}
